header .container {
    margin-bottom: 40px;
}

.workspace-bg-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.dashboard-bg-img {
    z-index: 0;
    opacity: .9;
}

.dashboard-container,
.breeze-page {
    position: relative;
    z-index: 1;
}

.dashboard-container {
    padding-top: 0;
    padding-bottom: 80px;
}
